Assets/Fonts/Makinas-4-Square[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/NotoSansJP-Light[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/NotoSansJP-Light.ttf filter=lfs diff=lfs merge=lfs -text
